
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    padding: 0px;
    margin: 0px;
}


main {
    
    height: 100vh;
    width: 100%;
   
  }

  .container-pai {
    position: relative;
    background-color: rgba(126, 40, 126, 0.788);
    height: 100vh;
    
    
  }
  .container-filho {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 520px;
    width: 320px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    
    
    
    
    
  
    
  }
  .container-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
  }
  
  .container-titulo {
    text-align: center;
   
  
   width: 280px;
   height: 180px;
   margin: 24px;
  }
  .container-titulo-escrito {

    font-family: 'Bebas Neue', cursive;
    color: rgba(128, 128, 128, 0.692);
  }

  .container-paragrafo-escrito {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.356);
  }

  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    
  }
  
  

  img {
    
    width: 250px;
    height: 280px;
  }